@model IList<Tournamin.web.Models.Group>
@{
    ViewBag.Title = "Fake tournament";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper" style="text-align: right;">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
               This is a fake tournament
            </p>
        </div>
    </section>
}

@foreach(var group in Model)
{
    <div class="group">
        <h1>Group @group.GroupName</h1>
        <ul>
            @foreach(var match in group.Matches)
            {
                <li><label class="team team-a">@match.TeamA</label> @Html.TextBoxFor(x => match.ScoreA, new {@class="score"}) -  @Html.TextBoxFor(x => match.ScoreB, new { @class = "score" }) <label class="team team-b">@match.TeamB</label></li>
            }
        </ul>
    </div>
}